

<div>
    <label for="name">Movie Name
        <div>
                <input type="text"         
                (ngModelChange)="filterItem($event)" 
                [(ngModel)]="movie_title" name="name">
            <br>
            <select #selectList [ngModel]="movie_title" (ngModelChange)="filterItem($event)" name="sel2" style="max-height:150px">
                <option [value]="i" *ngFor="let i of movie_titles">{{i}}</option>
            </select>
        </div>
    </label>
    
    
    <button style="margin-left: 20pt;" (click)="recommend()">Recommend</button>
</div>
<div>
    <ul>
        <li *ngFor="let r of recommendations">
            <span>{{ r.title }}</span><span style="margin-left: 20pt;">{{ (r.score * 100).toFixed(2) }}</span>
        </li>
    </ul>
</div>

